.header{
  display: flex;
  padding: 1.25rem 0;
  align-items: center;
  justify-content: center;
  background: var(--gray-800);
}

.header img{
  height: 2rem;
}

.header strong{
  margin-left: 1rem;
  font-size: 1.50rem;
}